
header{
  display: flex;
  justify-content: center;
  margin-top: -40px;
  width: 100vw;
}

#headImage{
  width: 50vw;
  margin-top: 0;
  opacity: 0.8;
}

.divContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98vw;
  margin: 3px auto;
  height: 20vh;
}

body {
    background:
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 50px 50px;
overflow: hidden;
}

.topDiv{
  height: 10vh;
  width: 29vw;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1B1B1B 10px, transparent 10px),
  linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  border-radius: 5cm;
  opacity: 0.8;
  border: 3px solid rgb(61, 50, 50);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:  'bradley hand';
  font-size: 20px;
  color: white;
}

.topDiv, h2 {
  position: relative;
  color: white;
  font-size: 20px;
}

@keyframes border {
  0%{
    /* border-color: pink; */
    border: 3px solid red;
    box-shadow: black;
  }
  10%{
    /* border-color: pink; */
    border: 3px solid orange;
    box-shadow: black;
  }
  20%{
    /* border-color: pink; */
    border: 3px solid yellow;
    box-shadow: black;
  }

  30%{
    /* border-color:?; */
    border: 3px solid green;
    box-shadow: green;
  }
  40%{
    /* border-color: green; */
    border: 3px solid blue;
    box-shadow: yellow;
  }
  50%{
    /* border-color:; */
    border: 3px solid purple;
    box-shadow: blue;
  }
  60%{
    /* border-color: blue; */
    border: 3px solid violet;
    box-shadow: orange;
  }
  70%{
    /* border-color: pink; */
    border: 3px solid black;
    box-shadow: black;
  }
  80%{
    /* border-color: pink; */
    border: 3px solid white;
    box-shadow: black;
  }
  90%{
    /* border-color: pink; */
    border: 3px solid pink;
    box-shadow: blue;
  }
  100%{
    /* border-color: pink; */
    border: 3px solid limegreen;
    box-shadow: red;
  }
}

.topDiv:hover{
  border-color: green;
  box-shadow: 10px 7px 17px pink;
  animation-name: border;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.search-section{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 8vh;
  width: 110vw;
  margin-left: -10px;
}
.textLine {
  color: white;
  animation: wordScroll 30s linear infinite;
  font-size: 35px;
  
  
}

@-moz-keyframes wordScroll {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes wordScroll {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes wordScroll {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(155%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-200%); 
  }
 }

.beneath-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 80px auto;
  height: 48vh;
  width: 95vw;
  border-radius: 10%;
  box-shadow: 8px 5px 15px black;
  border-color: lightcoral;

  /*------->*/
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1B1B1B 10px, transparent 10px),
linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
opacity: 0.8;
}

#difficulty-box  #level-box{
  height: 14.7vw;
  width: 28vw;
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1B1B1B 10px, transparent 10px),
linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
border-radius: 5cm;
box-shadow: 8px 5px 15px white;
opacity: 1;
border: 3px solid rgb(61, 50, 50);
z-index: auto;
}
  

@media (max-width: 1180px){

  header{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    width: 40vw;
  }

  #headImage{
    width: 70vw;
    margin-top: 10%;
    margin-left: 43%;
    opacity: 0.8;
  }

  .topDiv{
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .divContainer{
    width: 75vw;
  }
  .topDiv, h2 {
    position: relative;
    color: white;
    font-size: 12px;
  }

  .textLine {
    color: white;
    /* font-size: 15px; */
  }

  .beneath-search{
    width: 100vw;
    height: 40vh;
    margin: 60px auto;
    margin-left: 40px;
  }

}



@media (max-width: 1024px){

  body{
    overflow: hidden;
  }

  .divContainer{
    display: flex;
    width: 190vw;
    margin-left: 30px;
  }


  #headImage{
    width: 120vw;
    margin-top: 10%;
    margin-left: 60%;
    margin-bottom: 10%;
    opacity: 0.8;
  }

  .topDiv{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .topDiv, h2 {
    position: relative;
    color: white;
    font-size: 30px;
  }

  .textLine {
    color: white;
    font-size: 30px;
  }

  .search-section{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10vh;
    width: 200vw;
    margin-left: -10px;
  }

  .beneath-search{
    width: 180vw;
    height: 100vh;
    margin-left: 70px;
  }


}